body {
    background-color: #293F4F;
}
.text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.text {
    color: #ffff;
    font-family: 'Vast Shadow', serif;
    font-size: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.text::before,
.text::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: #ffff;
}
.text::before {
    top: -50px;
    left: 25%;
}
.text::after {
    bottom: -50px;
    right: 25%;
}