body {
    background-color: #293F4F;
}
.text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.text {
    color: #ffff;
    font-size: 80px;
}