body {
    font-family: Karla, sans-serif;
    color: #484848;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
header {
    background-color: #FF5A5F;
}